[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tsfresh = "*"
matplotlib = "*"
scikit-learn = "*"
pandas = "*"
boruta = "*"

[requires]
python_version = "3.7"
